<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebService1Soap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:7028/HelloWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebService1Soap"
                contract="HelloWebService.WebService1Soap" name="WebService1Soap" />
        </client>
    </system.serviceModel>
</configuration>
